.note{
    visibility: hidden;
    opacity:0;
    box-shadow:0 0 15px rgba(0, 0, 0, 0.33);
    min-width: 200px;
    width:50%;
    margin:16px auto;
    padding: .5em 2em;
    top:0px;
    left:0;
    right:0;
    position:fixed;
    transition: opacity 0.33s, top 0.33s, visibility 0.33s;
    transition-timing-function: ease-out;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.note-visible{
    top:20px;
    opacity: 1;
    visibility: visible;
}

.note-title{
    font-size: 1.25em;
    font-weight: bold;
    text-align: center;
}

.note-content{
    font-size:1em;
}